<table class="table">
    <thead>
        <tr>
            <th scope="col">Tipo de solitud</th>
            <th scope="col">Tiempo de espera</th>
            <th scope="col">Nombre Completo</th>
            <th scope="col">Documento</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">GC-100</th>
            <td>5 MIN</td>
            <td>Pepito Perez</td>
            <td>CC 100877631</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <button type="button" class="btn btn-outline-primary">Llamar</button>
                    <button type="button" class="btn btn-outline-primary">Pasar</button>
                    <button type="button" class="btn btn-outline-primary">Borrar</button>
                </div>
            </td>
        </tr>
            <tr>
        <th scope="row">GC-500</th>
        <td>21 MIN</td>
        <td>Carlos Sanchez</td>
        <td>CC 5667817</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">Llamar</button>
                <button type="button" class="btn btn-outline-primary">Pasar</button>
                <button type="button" class="btn btn-outline-primary">Borrar</button>
            </div>
        </td>
    </tr>
    

    <tr>
        <th scope="row">GC-400</th>
        <td>29 MIN</td>
        <td>Ana Martinez</td>
        <td>CC 6784141</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">Llamar</button>
                <button type="button" class="btn btn-outline-primary">Pasar</button>
                <button type="button" class="btn btn-outline-primary">Borrar</button>
            </div>
        </td>
    </tr>
    

    <tr>
        <th scope="row">GC-200</th>
        <td>13 MIN</td>
        <td>Carlos Sanchez</td>
        <td>CC 2517839</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">Llamar</button>
                <button type="button" class="btn btn-outline-primary">Pasar</button>
                <button type="button" class="btn btn-outline-primary">Borrar</button>
            </div>
        </td>
    </tr>
    

    <tr>
        <th scope="row">GC-200</th>
        <td>24 MIN</td>
        <td>Carlos Sanchez</td>
        <td>CC 7295942</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">Llamar</button>
                <button type="button" class="btn btn-outline-primary">Pasar</button>
                <button type="button" class="btn btn-outline-primary">Borrar</button>
            </div>
        </td>
    </tr>
    

    <tr>
        <th scope="row">GC-100</th>
        <td>2 MIN</td>
        <td>Luis Hernandez</td>
        <td>CC 4859419</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">Llamar</button>
                <button type="button" class="btn btn-outline-primary">Pasar</button>
                <button type="button" class="btn btn-outline-primary">Borrar</button>
            </div>
        </td>
    </tr>
    

    <tr>
        <th scope="row">GC-200</th>
        <td>10 MIN</td>
        <td>Ana Martinez</td>
        <td>CC 3969275</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">Llamar</button>
                <button type="button" class="btn btn-outline-primary">Pasar</button>
                <button type="button" class="btn btn-outline-primary">Borrar</button>
            </div>
        </td>
    </tr>
    

    <tr>
        <th scope="row">GC-100</th>
        <td>41 MIN</td>
        <td>Maria Garcia</td>
        <td>CC 8253593</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">Llamar</button>
                <button type="button" class="btn btn-outline-primary">Pasar</button>
                <button type="button" class="btn btn-outline-primary">Borrar</button>
            </div>
        </td>
    </tr>
    

    <tr>
        <th scope="row">GC-400</th>
        <td>16 MIN</td>
        <td>Juan Rodriguez</td>
        <td>CC 3930145</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">Llamar</button>
                <button type="button" class="btn btn-outline-primary">Pasar</button>
                <button type="button" class="btn btn-outline-primary">Borrar</button>
            </div>
        </td>
    </tr>
    

    <tr>
        <th scope="row">GC-200</th>
        <td>36 MIN</td>
        <td>Pepito Perez</td>
        <td>CC 4336049</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">Llamar</button>
                <button type="button" class="btn btn-outline-primary">Pasar</button>
                <button type="button" class="btn btn-outline-primary">Borrar</button>
            </div>
        </td>
    </tr>
    

    <tr>
        <th scope="row">GC-200</th>
        <td>53 MIN</td>
        <td>Juan Rodriguez</td>
        <td>CC 8680081</td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">Llamar</button>
                <button type="button" class="btn btn-outline-primary">Pasar</button>
                <button type="button" class="btn btn-outline-primary">Borrar</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>