<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>Bienvenido a la eps la misericordia @Model.User.Firstname @Model.User.Lastname</h1>
        </div>
        <div>
            <h2>Su turno es: @ViewBag.newTurn</h2>
            <h2>N° Documento: @ViewBag.typeOfDocument.@Model.User.DocumentNumber</h2>
        </div>
    </div>
</body>
</html>
