<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="Body-gestion ">
  <h1 class="text-center mb-5">Todos Los Turnos</h1>

  <div class="container-Gestion row  ">
    <div class="col-md-4 overflow-scroll table-margin" style="max-height: 500px; max-width: 400px;">
      <table class=" table table-striped table-hover table-dark  w-48 h-64 rounded-lg">
        <thead class="z-3">
          <tr >
            <th scope="col">Modulo</th>
            <th scope="col">Turno</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>GC-090</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>GC-100</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>GC-110</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>GC-120</td>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-130</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-140</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-150</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-160</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-170</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-180</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-190</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-200</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-210</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-220</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-230</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-240</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-250</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-260</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-270</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-280</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-290</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-300</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-310</tD>
          </tr>
          <tr>
            <th>8</th>
            <tD>GC-320</tD>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-1"></div>
    <div class="  col-md-4 p-7">


      <div class="card text-center ">
        <div class="card-header">
          Cuida tu vida
        </div>
        <div class="card-body">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://epswater.ie/wp-content/uploads/2020/12/EPS-Site-Logo-01.png" class=" w-75" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://epswater.ie/wp-content/uploads/2020/12/EPS-Site-Logo-01.png" class=" w-75" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://epswater.ie/wp-content/uploads/2020/12/EPS-Site-Logo-01.png" class="w-75" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://epswater.ie/wp-content/uploads/2020/12/EPS-Site-Logo-01.png" class=" w-75" alt="...">
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>

  </div>


</body>

</html>