<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="Body-gestion ">

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Siguiente turno</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="mensajes">
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>


  <div class="container-Gestion row  ">

    <h1 class="text-center mb-5">Todos Los Turnos</h1>
    <div class="col-md-6 overflow-scroll table-margin" style="max-height: 700px; max-width: 600px;">
      <table class=" table table-bordered  table-hover table-dark  w-48 h-64 rounded-lg border-red">
        <thead class="z-3">
          <tr>
            <th scope="col">Modulo</th>
            <th scope="col">Turno</th>
          </tr>
        </thead>
        <tbody id="tbody">
          @foreach (var item in Model)
          {
            if (item.estado == "ATENDIENDO" || item.estado == "LLAMANDO")
            {
              <tr id="@item.turno">
                <td scope="row">@item.modulo</td>
                <td>@item.turno</td>
              </tr>
            }
          }


        </tbody>
      </table>


    </div>

    <div class="  col-md-6 ">
      <div class="card card-position" style="width: 38rem; height:40rem;">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://epswater.ie/wp-content/uploads/2020/12/EPS-Site-Logo-01.png" alt="..." width="600rem"
                height="400rem">
            </div>
            <div class="carousel-item">
              <img src="https://i.insider.com/60f861f50729770012b91ccd?width=1136&format=jpeg" alt="..." width="600rem"
                height="400rem">
            </div>
            <div class="carousel-item">
              <img src="https://coosalud.com/wp-content/uploads/2019/12/saludvida-a-acoosalud-02.jpg" alt="..."
                width="600rem" height="400rem">
            </div>
            <div class="carousel-item">
              <img src="https://epswater.ie/wp-content/uploads/2020/12/EPS-Site-Logo-01.png" alt="..." width="900rem"
                height="400rem">
            </div>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Notificacion</h5>

          <p class="card-text ">Tu turno esta identificado con las letras de tu typo de turno y el numero es el turno.
          </p>
          <div class="alert alert-warning alerta text-center" role="alert ">
            Preferencias a personas discapacitadas,niños o mujeres en embarazo.
          </div>
        </div>
      </div>






    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@5.0.8/dist/browser/signalr.min.js"></script>
  <script>

    const connection = new signalR.HubConnectionBuilder()
      .withUrl("/chatHub")
      .build();

    connection.on("NuevoMensaje", (usuario, mensaje) => {
      $('#mensajes').append(`<h4><strong>${usuario}:</strong> modulo: ${mensaje}</h4>`);
      $('#' + usuario).remove();
      $('#tbody').append(`
         <tr id="${usuario}">
            <th scope="row">${mensaje}</th>
            <td>${usuario}</td>
          </tr>`);
    });

    connection.on("Limpiar", (id) => {
      $('#' + id).remove();
    });

    connection.start().then(() => {
      console.log('Conectado al servidor SignalR');
    }).catch(err => console.error(err.toString()));

    function enviarMensaje(sms, empleado) {
      const usuario = sms
      const mensaje = empleado
      connection.invoke("EnviarMensaje", usuario, mensaje);
      verificarContenidoDiv();
      $('#mensaje').val('');
    }
    function Limpiar() {
      connection.invoke("Limpiar");
    }

    function reproducirSonido() {
      var sonido = new Audio('/archivos/notificacion.mp3');
      sonido.play();
    }


    function verificarContenidoDiv() {
      var div = document.getElementById('mensajes');
      let modal = document.getElementById("exampleModal");
      console.log(div.innerHTML);
      if (div.innerHTML == '') {
        modal.style.display = 'none';
        modal.classList.remove("show");
      } else {
        modal.style.display = 'block';
        modal.classList.add("show");
        reproducirSonido();
        setTimeout(function () {
          div.innerHTML = ''; // Borrar el contenido
          modal.style.display = 'none'; // Ocultar el div nuevamente
        }, 4000);
      }
    }
    // Ejecutar la función cada 5 segundos
    setInterval(verificarContenidoDiv, 5000);
  </script>

</body>

</html>