<link rel="stylesheet" href="~/css/InfoGNRL.css" />
 
  <div class="container">
  <img class="saturno" src="https://cdn-icons-png.flaticon.com/512/788/788268.png" alt="">
  
  <h1 class="titulo">Bienvenido al sistema de turnos</h1>


  <h2 class="suptitulo">Seleccione su tipo de solicitud</h2>

  <div class="contenedor2">
    <img class="saturno2" src="https://cdn-icons-png.flaticon.com/512/788/788268.png" alt="">
    <h3>Su turno es: @Model.turnos</h3>
    <h3>N° Documento @Model.DocumentType @Model.DocumentNumber</h3>
  </div>

  </div>
