<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/solTurno.css" />
</head>
<body>
    <div class="container">
        <img class="saturno" src="https://cdn-icons-png.flaticon.com/512/788/788268.png" alt="">
        <h1 class="titulo">Bienvenido al sistema de turnos</h1>
        <h2 class="suptitulo">Seleccione su tipo de solicitud</h2>

        <form asp-action="EnterDocument" method="post" class="form">
            <div class="row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-success" name="typeRequest" value="1" >Gestión de Cita Medica</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-success" name="typeRequest" value="2" >Informacion general</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-success" name="typeRequest" value="3" >Pago Factura</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-success" name="typeRequest" value="4"  >Autorización de medicamentos</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <a id="flecha" class="btn btn-secondary" asp-action="EnterDocument" asp-controller="Document">
            <img class="flecha" src="https://cdn-icons-png.flaticon.com/512/1/1453.png" alt="">
        </a>
    </div>
</body>
</html>
