<link rel="stylesheet" href="~/css/solTurno.css" />
<form asp-action="EnterDocument" method="post" class="form">
    <div class="container">
        <img class="saturno" src="https://cdn-icons-png.flaticon.com/512/788/788268.png" alt="">
        <h1 class="titulo">Bienvenido al sistema de turnos</h1>


        <h2 class="suptitulo">Seleccione su tipo de solicitud</h2>



        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <a type="submit" class="btn btn-success" id="btn_1" value="1" name="typeRequest">Gestión de Cita
                                            Medica</a>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <a class="type="submit" class="btn btn-success" id="btn_2" value="2" name="typeRequest">Informacion
                                            general</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a id="flecha" class="btn btn-secondary" asp-action="Volber" asp-controller="Document"><img
                            class="flecha" src="https://cdn-icons-png.flaticon.com/512/1/1453.png" alt=""></a>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <a type="submit" class="btn btn-success" id="btn_3" value="3" name="typeRequest">Pago Factura</a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <a type="submit" class="btn btn-success" id="btn_4" value="4" name="typeRequest">Autorización de
                                            medicamentos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</form>